@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap");
@import url("./Keyframes.css");

:root {
  --text-shadow:
    -1px 0 rgb(0, 0, 0, 0.3), 0 1px rgb(0, 0, 0, 0.3), 1px 0 rgb(0, 0, 0, 0.3),
    0 -1px rgb(0, 0, 0, 0.3);
}

* {
  /* Removes highlight onclick (touch screens) */
  -webkit-tap-highlight-color: transparent;
}

/** 
 * Good background RPG images can be found on:
 * - wallspic.com
 * - freepik.com
 */
body {
  background: #04142d;
  background-image: url("../assets/images/cave-bg.jpg");
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  font-family: "play", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none !important;
  color: rgb(236, 184, 41);
  text-shadow: var(--text-shadow);
}

a:hover {
  color: rgb(245, 214, 112);
}

.highlight {
  border-bottom: 1px solid rgb(255, 255, 255, 0.4);
  font-style: italic;
}

main > * {
  margin-bottom: 2px;
}

.col-flexbox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.row-flexbox {
  display: flex;
  flex-direction: row;
}

.content {
  width: 92%;
  text-align: justify;
  line-height: 30px;
  height: 165px;
  letter-spacing: 1px;
  font-family: "play", sans-serif;
  font-size: 16px;
  color: white;
  margin: 25px auto 5px auto;
  text-shadow: var(--text-shadow);
}

.rpg-border {
  margin: 0 auto;
  border-radius: 8px;
  border-style: solid;
  border-width: 19px;
  border-image: url("../assets/images/border-60px.png") 19 round;
}

.flex-container {
  display: flex;
  border-radius: 3px;
  margin: -14px -14px 0 -14px;
  background: repeating-linear-gradient(
    0deg,
    rgba(38, 51, 107, 0.75),
    rgb(38, 51, 107, 0.75) 1px,
    rgba(35, 41, 63, 0.85) 2px,
    rgba(32, 39, 66, 0.85) 3px
  );
}

.arrow-box {
  width: 92%;
  text-align: center;
  margin: 20px auto 5px auto;
}

.arrow-box .icon {
  cursor: pointer;
  font-size: 35px;
  color: rgb(255, 255, 255, 0.9);
  text-shadow: var(--text-shadow);
  animation: arrow-flicker 1300ms infinite;
}

.shadow-08 {
  filter: drop-shadow(0px 0px 1px rgb(0, 0, 0, 0.8));
}

.menu {
  position: relative;
  height: 100%;
  width: 100%;
  font-size: 18px;
  color: white;
}

.menu .slider {
  position: absolute;
  z-index: 1;
  border-radius: 3px;
  top: 0;
  width: 92%;
  height: 33px;
  background: rgb(255, 255, 255, 0.3);
  transition: 300ms;
  border: 1px solid rgba(208, 255, 0, 0.1);
  animation: main-menu-waver 1500ms infinite;
}

.menu > * {
  display: flex;
  border-radius: 3px;
  text-shadow: var(--text-shadow);
  margin: 5px 7px 5px 7px;
  height: 33px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.menu > *:hover {
  background: rgba(255, 255, 255, 0.1);
}

.avatar {
  padding: 0 0 0 15px;
  opacity: 0.9;
  transform: scale(0.85);
}

.fa-icon {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.4);
  transition: 500ms;
}
.fa-icon:hover {
  color: rgb(255, 255, 255, 0.7);
}

.username {
  font-family: "press start 2p", sans-serif;
  font-size: 14px;
  color: rgb(255, 255, 255, 1);
  text-shadow: var(--text-shadow);
}

.sub-username {
  margin: 5px 0 0 0;
  font-family: "play", sans-serif;
  font-size: 17px;
  color: white;
  text-shadow: (var(--text-shadow));
}

.profile-attributes {
  padding: 20px 20px 0 10px;
  width: 100%;
  color: white;
}

.profile-attributes > div {
  display: flex;
  width: 100%;
  margin-top: 15px;
  font-family: "play", sans-serif;
  font-size: 17px;
  color: white;
  border-bottom: 1px solid rgb(255, 255, 255, 0.3);
  text-shadow: var(--text-shadow);
}

.profile-attributes label {
  text-align: left;
  margin: 1px 0 0 7px;
  width: 50%;
}

.profile-attributes data {
  text-align: right;
  margin: 1px 5px 0 0;
  width: 50%;
}

.msg-display {
  width: 98%;
  height: 38px;
  margin: 9px auto 0 auto;
  overflow: hidden;
  border-radius: 4px;
  border: 1px solid rgb(218, 173, 114, 0.3);
  background: rgba(15, 15, 15, 0.6);
  box-shadow:
    rgb(0, 0, 0) 1px 1px 2px 0px inset,
    rgba(0, 0, 0, 0.3) -1px -1px 2px 1px inset;
}

.scroll-text {
  margin-top: 15px;
  width: 1600px;
  height: 30px;
  text-align: left;
  font-family: "Press Start 2P", cursive;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transform: translateX(-100%);
  animation-name: move-left;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  color: rgb(241, 190, 50, 0.8);
}

.floating-text {
  position: absolute;
  font-size: 14px;
  color: white;
  animation-name: fade-up;
  animation-iteration-count: 1;
}

.water-drop {
  position: absolute;
  top: -50px;
  width: 6px;
  height: 10px;
  background: rgba(173, 216, 230, 0.7);
  border-radius: 50%;
  animation: fall linear; 
  overflow: hidden;
}

.sound-icon{
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: start;
  width: 40px;
  height: 30px;
  cursor: pointer;

  span{
    width: 6px;
    height: 100%;
    margin-right:2px;
    border-radius: 1px;
    background: white;
    opacity: 0.4;
    animation: bounce 5s infinite alternate;
    transform-origin: bottom;
  }
}

.sound-icon:hover > span{
  opacity: 0.7;
}

footer {
  display: flex;
  margin-top: 5rem;
  width: 100%;
  font-weight: 300;
  height: 34px;
  font-size: 11px;
  letter-spacing: 0.5px;
  font-family: "poppins", sans-serif;
  color: rgba(255, 255, 255, 0.9);
  background: rgba(0, 0, 0, 0.4);
  border-top: 1px solid rgb(255, 255, 255, 0.1);
}

footer .credits {
  display: flex;
  height: 20px;
  margin: 9px auto;
}

footer a {
  text-decoration: none !important;
  color: white;
}

footer span{
  padding: 1px 0 0 5px;
}

footer .credit-link {
  margin-top: 1px;
  color: rgb(255, 248, 157, 0.9);
}
