@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes arrow-flicker {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes arrow-flicker-2 {
  0% {
    opacity: 0.5;
  }
  49% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes main-menu-waver {
  0% {
    background: rgb(255, 255, 255, 0.3);
  }
  50% {
    background: rgba(255, 255, 255, 0.55);
  }
  100% {
    background: rgb(255, 255, 255, 0.3);
  }
}
@keyframes move-left {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes fall {
  to {
    transform: translateY(90vh);
  }
}
@keyframes fade-up {
  0% {
    opacity: 1;
    top: 0px;
  }
  100% {
    opacity: 0;
    top: -100px;
  }
}
