.main-menu .menu-wrapper {
  position: relative;
  padding-top: 1px;
  height: 100%;
  width: 100%;
  font-family: "Play", sans-serif;
  color: white;
  font-size: 18px;
}
.main-menu .menu-wrapper .inverted-elevator {
  position: absolute;
  z-index: 1;
  border-radius: 3px;
  top: 4px;
  left: 3%;
  width: 94%;
  height: 33px;
  background: rgb(255, 255, 255, 0.3);
  transition: 300ms;
  border: 1px solid rgba(208, 255, 0, 0.1);
  animation: main-menu-waver 1500ms infinite;
}
.main-menu .menu-wrapper .floor-1 {
  transform: translateY(0px);
}
.main-menu .menu-wrapper .floor-2 {
  transform: translateY(38px);
}
.main-menu .menu-wrapper .floor-3 {
  transform: translateY(76px);
}
.main-menu .menu-wrapper .floor-4 {
  transform: translateY(114px);
}
.main-menu .menu-wrapper .floor-5 {
  transform: translateY(155px);
}
.main-menu .menu-wrapper .option {
  position: relative;
  z-index: 2;
  display: flex;
  border-radius: 3px;
  text-shadow:
    -1px 0 rgb(0, 0, 0, 0.3),
    0 1px rgb(0, 0, 0, 0.3),
    1px 0 rgb(0, 0, 0, 0.3),
    0 -1px rgb(0, 0, 0, 0.3);
  margin-top: 5px;
  left:3%;
  width: 95%;
  padding: 5px 0 5px 0;
  text-align: center;
  cursor: pointer;
}
.main-menu .menu-wrapper .option:hover {
  background: rgba(255, 255, 255, 0.1);
}
.main-menu .label {
  width: 100%;
  padding-top: 2px;
  text-align: center;
}
